@use "@/styles/fonts.scss" as *;

.board {
  display: grid;
  gap: 8px;
}

.board-row {
  display: flex;
  gap: 8px;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid var(--cell-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transition:
    background-color 0.6s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.cell.correct {
  background-color: var(--cell-correct);
  border-color: var(--cell-correct);
  color: var(--cell-text-active);
}

.cell.present {
  background-color: var(--cell-present);
  border-color: var(--cell-present);
  color: var(--cell-text-active);
}

.cell.absent {
  background-color: var(--cell-absent);
  border-color: var(--cell-absent);
  color: var(--cell-text-active);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.board-row.shake {
  animation: shake 0.5s;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.cell.flip {
  animation: flip 0.6s forwards;
}

.message {
  height: 50px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    color: var(--message-text);
    background-color: var(--message-bg, white);
    padding: 16px 24px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    opacity: 0.9;
    pointer-events: none;
    z-index: 10;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  max-width: 360px;
  width: calc(100% - 40px);
  background: var(--cell-bg);
  padding: 32px 24px;
  border-radius: 16px;
  text-align: center;

   button {
font-family: $ff-title;
font-weight: 600;
  margin-top: 16px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius:8px;
  outline: none;
  border: none;
}
}