@use "@/styles/fonts.scss" as *;

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 80px;
  margin-top: 40px;
  overflow-x: auto;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap; // wrap keys to new line if not enough space
}

.key {
  padding: 16px 10px 12px 10px;
  min-width: 32px;
  // width: 40px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #818384;
  color: white;
  font-family: $ff-title;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.key:active {
  background: #565758;
}

.key.correct {
  background: #538d4e;
}
.key.present {
  background: #b59f3b;
}
.key.absent {
  background: #3a3a3c;
}

@media (max-width: 480px) {
  .keyboard {
    max-width: 380px;
    width: 100%;
    padding: 0 4px 80px 4px;
  }
  .key {
    flex: 1;
    min-width: 24px;
    max-width: 28px;
    font-size: 15px;
    padding: 14px 6px 10px 6px;

    &-wide {
      flex: auto;
      max-width: unset;
      width: 60px;
    }
  }
}
